/*new*/
#title-on {
    background-color: wheat;
    display: block;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 36px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}