/*new*/
h1 {
    background-color: green;
    display: block;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: black;
    width: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}